# dependencies
/node_modules

# build/test output
/coverage
/dist
/build

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
.idea/
.vscode/
